POSTGRES_USER=habs
POSTGRES_PASSWORD=change_me
POSTGRES_HOST=localhost
POSTGRES_PORT=5432
POSTGRES_DB=habs_db
SECRET_KEY=change_me
FRONTEND_ORIGIN=http://localhost:5173
ML_MODEL_PATH=model/habs_noshow_model_v1.joblib
ML_MODEL_VERSION=habs_noshow_v1
ML_THRESHOLD=0.4